<div id="footerwrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <h4>Sensu Plugins</h4>
        <div class="hline-w"></div>

        <p>{{ site.description }}</p>
        <p style="color:white">{{ site.license }}</p>

        <a href="https://twitter.com/sensuplugins" class="twitter-follow-button" data-show-count="false">Follow @sensuplugins</a>
      </div>
      <div class="col-lg-3">
        <h4>Sensu - <a href="https://sensuapp.org/">sensuapp.org</a></h4>
        <div class="hline-w"></div>

        <p>
          Monitor servers, services, application health, and business KPIs. Get notified about failures before your users do. Collect and analyze custom metrics. Give your business the competitive advantage it deserves. Open Source under MIT License.</p>

          <a href="https://twitter.com/sensu" class="twitter-follow-button" data-show-count="true">Follow @sensu</a><br>
      </div>
      <div class="col-lg-3">
        <h4>Discussion and Help</h4>
        <div class="hline-w"></div>

        <p><a href="http://slack.sensu.io/"><i class="fa fa-slack"></i> Join Sensu Community Slack</a></p>
        <a href="https://groups.google.com/forum/#!forum/sensu-users"><i class="fa fa-google"></i> Join Sensu Users Mailing List</a><br>
      </div>
      <div class="col-lg-3">
        <h4>Join in on the fun!</h4>
        <div class="hline-w"></div>

        <p>We welcome contributions and usually accept pull requests within a week! Pick any of our 150+ plugins and hack away!</p>

        <p><a href="https://github.com/sensu-plugins"><i class="fa fa-github"></i> https://github.com/sensu-plugins</a><br/>
        <a href="https://github.com/sensu"><i class="fa fa-github"></i> https://github.com/sensu</a></p>

        <a class="github-button" href="https://github.com/sensu-plugins/sensu-plugin" data-icon="octicon-eye" data-style="mega" data-count-href="/sensu-plugins/sensu-plugin/watchers" data-count-api="/repos/sensu-plugins/sensu-plugin#subscribers_count" data-count-aria-label="# watchers on GitHub" aria-label="Watch sensu-plugins/sensu-plugin on GitHub">Watch</a>
        <a class="github-button" href="https://github.com/sensu-plugins/sensu-plugin" data-icon="octicon-star" data-style="mega" data-count-href="/sensu-plugins/sensu-plugin/stargazers" data-count-api="/repos/sensu-plugins/sensu-plugin#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star sensu-plugins/sensu-plugin on GitHub">Star</a>
      </div>
    </div>
  </div>
</div>
