<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.0/masonry.pkgd.min.js"></script>

<style type="text/css">

.item { background: #f2f2f2; width: 20%; border: 3px; text-align: center; border-style: groove; margin: 5px}

.container {
    width: 200px;
}
</style>

<div id="container" class="js-masonry"
data-masonry-options='{ "columnWidth": 50, "itemSelector": ".item" }'>
      {% for repository in site.github.public_repositories %}
          {% if site.exclude_repos contains repository.name %}
          {% else %}
            <div class="item">
                <a href="{{ repository.html_url }}">{{ repository.name }} </a><br />
                {{ repository.description }} <br />
                {{ repository.releases }}
            </div>
          {% endif %}
        {% endfor %}

</div>
